
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    align-items: center;
    color: black;
    background: #fff;
}
body{
    display: contents;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.title {
    margin: 20px;
    padding: 20px;
}

.title .text {
    color: rgb(5, 5, 6);
}

.title .text span{
    position: relative;
}
.title .text span::before{
    content: " Fellows";
    color: #c924ab;
    animation: words 20s infinite;
      
}
.title .text span::after{
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    background-color: #fff;
    border-left: 2px solid #c924ab;
    right: -8px;
    animation: cursor .8s infinite, typing 20s steps(14) infinite;
}

.title .image{
    width: 35%;
    height: 20%;
}

.quote {
    margin: 5px;
    padding: 5px;
}
.quote h2{
    margin-top: -8px;
    margin-left: 30px;
    color: black;
}

.quote p{
    padding: 2px;
    margin-top: -8px;
    margin-left: 50px;
    margin-right: 40px;
    color: black;

}

.footer {
    margin-top: 10px;
    position: absolute;
    text-align: center;
    padding-left: 20px;
    margin-left: 20px;
}

a{
    border: 2px solid #c924ab; ;
    text-decoration: none;
    margin: 3px;
    padding: 2px 10px;
    border-radius: 5px;
}
a:hover{
    color: rgb(249, 247, 247);
    background-color: #c924ab;
}


/*cursor blinkng*/
@keyframes cursor {
    to { 
    border-left: 2px solid #c924ab;
   
    }
}
@keyframes words{
    0%,20%{
        content:" Fellows" ;
    }

    21%,40%{
        content:" Coder front-End" ;
    }

    41%,60%{
        content:" in section B" ;
    }

    61%,80%{
        content:" in Tech4dev" ;
    }

    81%,100%{
        content: " Developer";
    }
}
@keyframes typing {
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
        width: 0;
    }
    5%,20%,25%,40%,60%,65%,80%,85%{
        width: calc(100% + 8px);
    }
}