
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    display: contents;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.footer {
    margin-top: 30px;
    position: absolute;
    text-align: center;
    padding-left: 20px;
}

a{
    border: 2px solid rgb(232, 120, 170); ;
    text-decoration: none;
    margin: 3px;
    padding: 2px 10px;
    border-radius: 5px;
}
a:hover{
    color: rgb(249, 247, 247);
    background-color: rgb(181, 63, 116);
}