
/*image-size*/
img {
  height: 300px;
  width: 600px;

}
/*webpage-body*/

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(244, 235, 235);
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}


/*footer section*/
.footer,
.footer-3 {
  margin-top: 80px;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  gap: 30px;
}

.footer a {
  font-size: 12px;
  color: orangered;
}

a {
  text-decoration: none;
  color: #20051b;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
}

a:hover {
  color: rgb(249, 247, 247);
  background-color: #c924ab;
}

  

@media screen and (max-width: 482px) {
  .title .image{
    width: 350px;
    height: 350px;
    border-radius: 50%;
  }
  .quote {
    width: 300px;
    margin-bottom: 40px;
  }
}