@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    align-items: center;
    color: black;
}
/* Navigation styles */
.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: cornsilk;
  border-radius: 15px;
  height: 80px;
  margin: 30px;
  gap: 100px;
  width: 100%;
}

.logo-container {
  display: flex;
  gap: 10px;

}

.logo-text {
  color: #6e0f5d;
  font-size: 34px;
}

.logo {
  width: 30px;
  border-radius: 50%;
  height: 40px;
}

.nav-links {
  display: flex;
  list-style: none;
  /* gap: 10px; */
  align-items: center;
}

li {
  text-align: center;
  width: 80px;
  height: 40px;

}
/*image-size*/
img {
  height: 300px;
  width: 600px;

}
/*webpage-body*/

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(244, 235, 235);
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}


/*footer section*/
.footer,
.footer-3 {
  margin-top: 80px;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  gap: 30px;
}

.footer a {
  font-size: 12px;
  color: orangered;
}

a {
  text-decoration: none;
  color: #20051b;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
}

a:hover {
  color: rgb(249, 247, 247);
  background-color: #c924ab;
}

  

@media screen and (max-width: 482px) {
  .title .image{
    width: 350px;
    height: 350px;
    border-radius: 50%;
  }
  .quote {
    width: 300px;
    margin-bottom: 40px;
  }
}